/*
Patho•Log - New Report
*/

/*
Stepper *****************************************
*/
#stepper-container {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   color: var(--gray-disabled); /* Default color for icons & text */
}

/* Default */
#stepper-container .step {
   display: flex;
   flex-direction: row;
}
#stepper-container .step i {
   margin-right: .25rem;
}
#stepper-container .step span {
   margin: 0;
   font-size: .8rem;
   line-height: 1.2;
}
#stepper-container .nextsteparrow {
   line-height: .5;
   margin: 5px .7rem 0 .7rem;
}

/* Done */
#stepper-container .step.done i {
   color: var(--palette-turquoise);
}
#stepper-container .step.done span {
   color: #000;
}

/* Current */
#stepper-container .step.current i {
   color: var(--palette-purple);
}
#stepper-container .step.current span {
   color: #000;
   font-weight: bold;
}

/* "One Step" stepper mode */
#stepper-onestep {
   width: 100%;
   align-items: center;
}

#onestep-title {
   font-size: .8rem;
   line-height: 1;
   font-weight: bold;
}

#onestep-dots {
   font-size: .3rem;
   line-height: 1;
   margin-top: .4rem;
   color: var(--gray-disabled);
}
#onestep-dots i {
   margin: 0 .1rem 0 .1rem;
}


/*
Report Templates ********************************
*/
#templates-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   padding-bottom: 1rem;
}

.tplitem-container {
   position: relative;
   display: flex;
   flex-direction: row;
   width: 16rem;
   height: 9rem;
   top: 0;
   overflow: hidden;
   background-color: #fff;
   box-shadow: 0 3px 7px 0px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
   border-radius: .3rem;
   border: 1px solid #f5f5f5;
   transition: all .3s ease;
   cursor: pointer;
   margin: .5rem;
}

.tplitem-container:hover {
   top: -.15rem;
   box-shadow: 0 17px 33px 0px rgb(0 0 0 / 25%);
}

.tplitem-backribbon {
   position: absolute;
   left: -5rem;
   top: -5.5rem;
   width: 15rem;
   height: 15rem;
   background-color: var(--palette-blue-white);
   transform: rotate(-60deg);
   opacity: .5;
}

.tplitem-previmg {
   margin: .5rem;
   z-index: 1;
}

.tplitem-ctl {
   margin: .5rem .5rem .5rem 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   z-index: 1;
}

.tplitem-ctl-desc-title {
   font-size: 1rem;
   font-weight: bold;
   text-align: center;
}

.tplitem-ctl-desc-text {
   font-size: .85rem;
}

.tplitem-ctl-btn {
   padding: 0 1.5rem 0 1.5rem;
}

.tplitem-ctl-btn button {
   font-weight: bold;
   font-size: 1rem;
   line-height: 1;
}
